<footer><div class="left"><p>All work <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA </a>
        <!--  <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> --></p></div>

    <div class="right"><p><a href="mailto:c.s.meyns@gmail.com" rel="me">Email</a> | <a href="https://www.linkedin.com/in/chrismeyns" rel="me">Linkedin</a> | <a href="https://scholar.google.com/citations?user=KuAxKHEAAAAJ&hl=en" rel="me">Scholar</a> | <a href="http://eepurl.com/ge-s4r" rel="me">Newsletter</a></p></div>
    </footer>

